.about {
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 0 5px #ccc;
  .ant-tag {
    padding: 3px 10px;
    & > .ant-space + span {
      margin-left: 7px
    }
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}