.ant-layout-sider {
  background-color: var(--bg-color);
  transition: background 0.3s, width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;;
}

.ant-layout-header {
  padding: 0 20px;
  color: var(--text-color);
  background: var(--bg-color);
  box-shadow: 0 2px 5px #ccc;
  transition: background 0.3s, width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .user-box {
    margin-left: 5px;
    cursor: pointer;
  }
}